@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 400;
  src: url("interface/Interface-Regular.woff2") format("woff2"),
       url("interface/Interface-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 400;
  src: url("interface/Interface-RegularItalic.woff2") format("woff2"),
       url("interface/Interface-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 500;
  src: url("interface/Interface-Medium.woff2") format("woff2"),
       url("interface/Interface-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 500;
  src: url("inteface/Interface-MediumItalic.woff2") format("woff2"),
       url("inteface/Interface-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 700;
  src: url("inteface/Interface-Bold.woff2") format("woff2"),
       url("inteface/Interface-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 700;
  src: url("inteface/Interface-BoldItalic.woff2") format("woff2"),
       url("inteface/Interface-BoldItalic.woff") format("woff");
}
