{% extends 'base2.html.twig' %}

{% block content %}

    <div class="confirmation-message">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <h2>A verification email has been sent to <span>{{ email }}</span>. Click on the link to verify your email.</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}