{% extends 'base2.html.twig' %}

{% block content %}
        <div class="login-form">
            <div class="card">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    {% if error %}
                        <div id="error">{{ error }}</div>
                    {% endif %}
                    <form action="{{ path('password_email') }}" method="post" role="form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email Address" class="form-control" value="{{ email|default('') }}">
                        </div>
                        <input type="submit" name="submit" value="Reset Password" class="btn btn-other">
                    </form>

                </div>
            </div>
        </div>

{% endblock %}