{% extends 'base1.html.twig' %}

{% block content %}
	<div class="content">
		<div class="row">
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<form action="/profile" method="POST">
							<div class="form-group">
								<label for="current">Current Password</label>
								<input type="password" class="form-control" id="current" name="current">
							</div>
							<div class="form-group">
								<label for="password">New Password</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
							<div class="form-group">
								<label for="confirm">Confirm Password</label>
								<input type="password" class="form-control" id="confirm" name="passwordconfirm">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}